<!DOCTYPE html>
  <html>
    <head>
      <meta name="author" content="Guillaume Lauga" />
      <meta name="description" content="Guillaume Lauga's Home Page" />
      <meta name="keywords" content="Guillaume, Lauga, Inria, ENS, Lyon" />
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="../css/main.css">
    </head>
    <body>
      <nav dir="ltr">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="../Research">Research</a></li>
              <li><a href="../Teaching">Teaching</a></li>
              <li><a href="../CV">CV</a></li>
              <li><a href="../Other">Other</a></li>
              <li><a href="../Contact">Contact</a></li>
          </ul>
      </nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		This is a personal site, all opinions are my own. <a target ="_blank" href ="https://scholar.google.com/citations?user=kp4hEB0AAAAJ&hl=fr&oi=ao">Google Scholar</a> <a target="_blank" href="https://fr.linkedin.com/in/guillaume-lauga">Linkedin</a></li>
			</footer>
    </body>
</html>
